body { 
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

h1 {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #1E1E2C;
} 

h2 {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #1E1E2C;
} 

span {
    font-weight: 400;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-radius: 5px;
    border-color: #eee #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 16px;
    max-width: 500px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: 500;
    color: #14171A;
    line-height: 20px;
    margin-top: 0px;
  }

  blockquote.twitter-tweet span {
    font-size: 12px;
    font-weight: 500;
    color: #AAB8C2;
    line-height: 20px;
    float: right;
  }
.twitter-tweet--handle {
    color:#AAB8C2;
    font-weight: 500;
    font-size: 15px;
}

.tweet_storm {
    display: flex;
    flex-flow: column;
    min-width: 200px;
    width: 80%;
    height: 400px;
    overflow-y: scroll;
}